[Unit]
Description=Full robot launch
After=robot_bringup.service
[Service]
ExecStartPre=sleep 40
Environment=HOME=/home/root/
ExecStart=bash -c ". /etc/profile.d/setup.sh; ros2 launch AR_HT_navigation full.launch.py"

[Install]
WantedBy=multi-user.target
